---
layout: base 
---

<div class="about">
  <div class="profile">
    <img class="selfie" alt="{{ site.author.name }}" src="{{ site.author.selfie }}" /> 
    <div class="info">
      <div class="title">{{ site.author.name2 }}</div>
      <div class="description">{{ site.author.desc }}</div>
      <div class="description">{{ site.author.desc2 }}</div>
      <div class="description">{{ site.author.desc3 }}</div>
    </div>
  </div>

  <div>
    <center>Email: rlampe at ucsd dot edu</center> <br />
  </div>

  <div class="content">
    {{ content }}
    </br>
  </div>
</div>
