---
layout: base 
---

<div class="about">
  <div class="profile">
    <!-- <img class="selfie" alt="{{ site.author.name }}" src="{{ site.author.selfie }}" /> -->
    <div class="info">
      <div class="title">{{ site.author.name2 }}</div>
      <div class="description">{{ site.author.desc }}</div>
      <div class="description">{{ site.author.desc2 }}</div>
      <div class="description">{{ site.author.desc3 }}</div>
    </div>
  </div>

  <div>
    Email: rlampe at ucsd dot edu <br />
    Twitter: <a href="https://twitter.com/robhlampe">@robhlampe</a> <br />
    ORCID: <a href="https://orcid.org/0000-0002-0578-3935">0000-0002-0578-3935</a> <br />
  </div>

  <div class="content">
    {{ content }}
    </br>
  </div>
</div>
